<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <nev>
    <ul>
      <li>
        <a href="/review/">Review index</a>
      </li>
      <li>
        <a href="/fake/">Fake index</a>
      </li>
      <li>
        <a href="/user_input/ping/">Ping</a>
      </li>
      <li>
        <a href="/user_input/fibo/">피보나치수열 계산기</a>
      </li>
    </ul>
  </nev>  
  {% block content %}{% endblock content %}  
</body>
</html>